html {
	/*Set variables*/
	--flex-box-gutter: 1rem;
}

.use-gutter, .gutter > .box,
.gutter > .box-0, .gutter > .box-1, .gutter > .box-2, .gutter > .box-3, .gutter > .box-4, .gutter > .box-5, .gutter > .box-6, .gutter > .box-7, .gutter > .box-8, .gutter > .box-9, .gutter > .box-10, .gutter > .box-11, .gutter > .box-12,.gutter > .box-xs-0, .gutter > .box-xs-1, .gutter > .box-xs-2, .gutter > .box-xs-3, .gutter > .box-xs-4, .gutter > .box-xs-5, .gutter > .box-xs-6, .gutter > .box-xs-7, .gutter > .box-xs-8, .gutter > .box-xs-9, .gutter > .box-xs-10, .gutter > .box-xs-11, .gutter > .box-xs-12,.gutter > .box-s-0, .gutter > .box-s-1, .gutter > .box-s-2, .gutter > .box-s-3, .gutter > .box-s-4, .gutter > .box-s-5, .gutter > .box-s-6, .gutter > .box-s-7, .gutter > .box-s-8, .gutter > .box-s-9, .gutter > .box-s-10, .gutter > .box-s-11, .gutter > .box-s-12,.gutter > .box-m-0, .gutter > .box-m-1, .gutter > .box-m-2, .gutter > .box-m-3, .gutter > .box-m-4, .gutter > .box-m-5, .gutter > .box-m-6, .gutter > .box-m-7, .gutter > .box-m-8, .gutter > .box-m-9, .gutter > .box-m-10, .gutter > .box-m-11, .gutter > .box-m-12,.gutter > .box-l-0, .gutter > .box-l-1, .gutter > .box-l-2, .gutter > .box-l-3, .gutter > .box-l-4, .gutter > .box-l-5, .gutter > .box-l-6, .gutter > .box-l-7, .gutter > .box-l-8, .gutter > .box-l-9, .gutter > .box-l-10, .gutter > .box-l-11, .gutter > .box-l-12,.gutter > .box-xl-0, .gutter > .box-xl-1, .gutter > .box-xl-2, .gutter > .box-xl-3, .gutter > .box-xl-4, .gutter > .box-xl-5, .gutter > .box-xl-6, .gutter > .box-xl-7, .gutter > .box-xl-8, .gutter > .box-xl-9, .gutter > .box-xl-10, .gutter > .box-xl-11, .gutter > .box-xl-12 {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-left: var(--flex-box-gutter);
	padding-right: var(--flex-box-gutter);
}

.gutter-t-\.25,
.gutter-tr-\.25,
.gutter-tb-\.25,
.gutter-tl-\.25,
.gutter-trb-\.25,
.gutter-trl-\.25,
.gutter-tbl-\.25,
.gutter-trbl-\.25{padding-top: calc(var(--flex-box-gutter) * 0.25);}
.gutter-r-\.25,
.gutter-tr-\.25,
.gutter-rb-\.25,
.gutter-rl-\.25,
.gutter-trb-\.25,
.gutter-trl-\.25,
.gutter-rbl-\.25,
.gutter-trbl-\.25{padding-right: calc(var(--flex-box-gutter) * 0.25);}
.gutter-b-\.25,
.gutter-tb-\.25,
.gutter-rb-\.25,
.gutter-bl-\.25,
.gutter-trb-\.25,
.gutter-tbl-\.25,
.gutter-rbl-\.25,
.gutter-trbl-\.25{padding-bottom: calc(var(--flex-box-gutter) * 0.25);}
.gutter-l-\.25,
.gutter-tl-\.25,
.gutter-rl-\.25,
.gutter-bl-\.25,
.gutter-trl-\.25,
.gutter-tbl-\.25,
.gutter-rbl-\.25,
.gutter-trbl-\.25{padding-left: calc(var(--flex-box-gutter) * 0.25);}
.gutter-t-\.5,
.gutter-tr-\.5,
.gutter-tb-\.5,
.gutter-tl-\.5,
.gutter-trb-\.5,
.gutter-trl-\.5,
.gutter-tbl-\.5,
.gutter-trbl-\.5{padding-top: calc(var(--flex-box-gutter) * 0.5);}
.gutter-r-\.5,
.gutter-tr-\.5,
.gutter-rb-\.5,
.gutter-rl-\.5,
.gutter-trb-\.5,
.gutter-trl-\.5,
.gutter-rbl-\.5,
.gutter-trbl-\.5{padding-right: calc(var(--flex-box-gutter) * 0.5);}
.gutter-b-\.5,
.gutter-tb-\.5,
.gutter-rb-\.5,
.gutter-bl-\.5,
.gutter-trb-\.5,
.gutter-tbl-\.5,
.gutter-rbl-\.5,
.gutter-trbl-\.5{padding-bottom: calc(var(--flex-box-gutter) * 0.5);}
.gutter-l-\.5,
.gutter-tl-\.5,
.gutter-rl-\.5,
.gutter-bl-\.5,
.gutter-trl-\.5,
.gutter-tbl-\.5,
.gutter-rbl-\.5,
.gutter-trbl-\.5{padding-left: calc(var(--flex-box-gutter) * 0.5);}
.gutter-t-\.75,
.gutter-tr-\.75,
.gutter-tb-\.75,
.gutter-tl-\.75,
.gutter-trb-\.75,
.gutter-trl-\.75,
.gutter-tbl-\.75,
.gutter-trbl-\.75{padding-top: calc(var(--flex-box-gutter) * 0.75);}
.gutter-r-\.75,
.gutter-tr-\.75,
.gutter-rb-\.75,
.gutter-rl-\.75,
.gutter-trb-\.75,
.gutter-trl-\.75,
.gutter-rbl-\.75,
.gutter-trbl-\.75{padding-right: calc(var(--flex-box-gutter) * 0.75);}
.gutter-b-\.75,
.gutter-tb-\.75,
.gutter-rb-\.75,
.gutter-bl-\.75,
.gutter-trb-\.75,
.gutter-tbl-\.75,
.gutter-rbl-\.75,
.gutter-trbl-\.75{padding-bottom: calc(var(--flex-box-gutter) * 0.75);}
.gutter-l-\.75,
.gutter-tl-\.75,
.gutter-rl-\.75,
.gutter-bl-\.75,
.gutter-trl-\.75,
.gutter-tbl-\.75,
.gutter-rbl-\.75,
.gutter-trbl-\.75{padding-left: calc(var(--flex-box-gutter) * 0.75);}
.gutter-t,
.gutter-t-1,
.gutter-tr,
.gutter-tr-1,
.gutter-tb,
.gutter-tb-1,
.gutter-tl,
.gutter-tl-1,
.gutter-trb,
.gutter-trb-1,
.gutter-trl,
.gutter-trl-1,
.gutter-tbl,
.gutter-tbl-1,
.gutter-trbl,
.gutter-trbl-1{padding-top: var(--flex-box-gutter);}
.gutter-r,
.gutter-r-1,
.gutter-tr,
.gutter-tr-1,
.gutter-rb,
.gutter-rb-1,
.gutter-rl,
.gutter-rl-1,
.gutter-trb,
.gutter-trb-1,
.gutter-trl,
.gutter-trl-1,
.gutter-rbl,
.gutter-rbl-1,
.gutter-trbl,
.gutter-trbl-1{padding-right: var(--flex-box-gutter);}
.gutter-b,
.gutter-b-1,
.gutter-tb,
.gutter-tb-1,
.gutter-rb,
.gutter-rb-1,
.gutter-bl,
.gutter-bl-1,
.gutter-trb,
.gutter-trb-1,
.gutter-tbl,
.gutter-tbl-1,
.gutter-rbl,
.gutter-rbl-1,
.gutter-trbl,
.gutter-trbl-1{padding-bottom: var(--flex-box-gutter);}
.gutter-l,
.gutter-l-1,
.gutter-tl,
.gutter-tl-1,
.gutter-rl,
.gutter-rl-1,
.gutter-bl,
.gutter-bl-1,
.gutter-trl,
.gutter-trl-1,
.gutter-tbl,
.gutter-tbl-1,
.gutter-rbl,
.gutter-rbl-1,
.gutter-trbl,
.gutter-trbl-1{padding-left: var(--flex-box-gutter);}
.gutter-t-1\.5,
.gutter-tr-1\.5,
.gutter-tb-1\.5,
.gutter-tl-1\.5,
.gutter-trb-1\.5,
.gutter-trl-1\.5,
.gutter-tbl-1\.5,
.gutter-trbl-1\.5{padding-top: calc(var(--flex-box-gutter) * 1.5);}
.gutter-r-1\.5,
.gutter-tr-1\.5,
.gutter-rb-1\.5,
.gutter-rl-1\.5,
.gutter-trb-1\.5,
.gutter-trl-1\.5,
.gutter-rbl-1\.5,
.gutter-trbl-1\.5{padding-right: calc(var(--flex-box-gutter) * 1.5);}
.gutter-b-1\.5,
.gutter-tb-1\.5,
.gutter-rb-1\.5,
.gutter-bl-1\.5,
.gutter-trb-1\.5,
.gutter-tbl-1\.5,
.gutter-rbl-1\.5,
.gutter-trbl-1\.5{padding-bottom: calc(var(--flex-box-gutter) * 1.5);}
.gutter-l-1\.5,
.gutter-tl-1\.5,
.gutter-rl-1\.5,
.gutter-bl-1\.5,
.gutter-trl-1\.5,
.gutter-tbl-1\.5,
.gutter-rbl-1\.5,
.gutter-trbl-1\.5{padding-left: calc(var(--flex-box-gutter) * 1.5);}
.gutter-t-2,
.gutter-tr-2,
.gutter-tb-2,
.gutter-tl-2,
.gutter-trb-2,
.gutter-trl-2,
.gutter-tbl-2,
.gutter-trbl-2{padding-top: calc(var(--flex-box-gutter) * 2);}
.gutter-r-2,
.gutter-tr-2,
.gutter-rb-2,
.gutter-rl-2,
.gutter-trb-2,
.gutter-trl-2,
.gutter-rbl-2,
.gutter-trbl-2{padding-right: calc(var(--flex-box-gutter) * 2);}
.gutter-b-2,
.gutter-tb-2,
.gutter-rb-2,
.gutter-bl-2,
.gutter-trb-2,
.gutter-tbl-2,
.gutter-rbl-2,
.gutter-trbl-2{padding-bottom: calc(var(--flex-box-gutter) * 2);}
.gutter-l-2,
.gutter-tl-2,
.gutter-rl-2,
.gutter-bl-2,
.gutter-trl-2,
.gutter-tbl-2,
.gutter-rbl-2,
.gutter-trbl-2{padding-left: calc(var(--flex-box-gutter) * 2);}
.gutter-t-3,
.gutter-tr-3,
.gutter-tb-3,
.gutter-tl-3,
.gutter-trb-3,
.gutter-trl-3,
.gutter-tbl-3,
.gutter-trbl-3{padding-top: calc(var(--flex-box-gutter) * 3);}
.gutter-r-3,
.gutter-tr-3,
.gutter-rb-3,
.gutter-rl-3,
.gutter-trb-3,
.gutter-trl-3,
.gutter-rbl-3,
.gutter-trbl-3{padding-right: calc(var(--flex-box-gutter) * 3);}
.gutter-b-3,
.gutter-tb-3,
.gutter-rb-3,
.gutter-bl-3,
.gutter-trb-3,
.gutter-tbl-3,
.gutter-rbl-3,
.gutter-trbl-3{padding-bottom: calc(var(--flex-box-gutter) * 3);}
.gutter-l-3,
.gutter-tl-3,
.gutter-rl-3,
.gutter-bl-3,
.gutter-trl-3,
.gutter-tbl-3,
.gutter-rbl-3,
.gutter-trbl-3{padding-left: calc(var(--flex-box-gutter) * 3);}
