* {box-sizing: border-box}

.flex,
.flex-xs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex.vstart, .flex-xs.vstart, .flex-s.vstart, .flex-m.vstart, .flex-l.vstart, .flex-xl.vstart,
.flex.vhstart, .flex-xs.vhstart, .flex-s.vhstart, .flex-m.vhstart, .flex-l.vhstart, .flex-xl.vhstart {align-items: start}

.flex.hstart, .flex-xs.hstart, .flex-s.hstart, .flex-m.hstart, .flex-l.hstart, .flex-xl.hstart,
.flex.vhstart, .flex-xs.vhstart, .flex-s.vhstart, .flex-m.vhstart, .flex-l.vhstart, .flex-xl.vhstart {justify-content: start}

.flex.vcenter, .flex-xs.vcenter, .flex-s.vcenter, .flex-m.vcenter, .flex-l.vcenter, .flex-xl.vcenter,
.flex.vhcenter, .flex-xs.vhcenter, .flex-s.vhcenter, .flex-m.vhcenter, .flex-l.vhcenter, .flex-xl.vhcenter {align-items: center}

.flex.hcenter, .flex-xs.hcenter, .flex-s.hcenter, .flex-m.hcenter, .flex-l.hcenter, .flex-xl.hcenter,
.flex.vhcenter, .flex-xs.vhcenter, .flex-s.vhcenter, .flex-m.vhcenter, .flex-l.vhcenter, .flex-xl.vhcenter {justify-content: center}

.flex.vend, .flex-xs.vend, .flex-s.vend, .flex-m.vend, .flex-l.vend, .flex-xl.vend,
.flex.vhend, .flex-xs.vhend, .flex-s.vhend, .flex-m.vhend, .flex-l.vhend, .flex-xl.vhend {align-items: end}

.flex.hsend, .flex-xs.hsend, .flex-s.hsend, .flex-m.hsend, .flex-l.hsend, .flex-xl.hsend,
.flex.vhend, .flex-xs.vhend, .flex-s.vhend, .flex-m.vhend, .flex-l.vhend, .flex-xl.vhend {justify-content: end}

.flex.column, .flex-xs.column, .flex-s.column, .flex-m.column, .flex-l.column, .flex-xl.column {flex-direction: column}

.flex.no-wrap, .flex-xs.no-wrap, .flex-s.no-wrap, .flex-m.no-wrap, .flex-l.no-wrap, .flex-xl.no-wrap {flex-wrap: no-wrap}

.flex > .box, .flex-xs > .box, .flex-s > .box, .flex-m > .box, .flex-l > .box, .flex-xl > .box {
	flex-grow: 1;
	flex-basis: auto;
	flex-shrink: 1;
}

.flex > .box-0, .flex > .box-xs-0, .flex-xs > .box-0, .flex-xs > .box-xs-0 {flex-basis: 0%}
.flex > .box-1, .flex > .box-xs-1, .flex-xs > .box-1, .flex-xs > .box-xs-1 {flex-basis: 8.33333333%}
.flex > .box-2, .flex > .box-xs-2, .flex-xs > .box-2, .flex-xs > .box-xs-2 {flex-basis: 16.66666667%}
.flex > .box-3, .flex > .box-xs-3, .flex-xs > .box-3, .flex-xs > .box-xs-3 {flex-basis: 25%}
.flex > .box-4, .flex > .box-xs-4, .flex-xs > .box-4, .flex-xs > .box-xs-4 {flex-basis: 33.33333333%}
.flex > .box-5, .flex > .box-xs-5, .flex-xs > .box-5, .flex-xs > .box-xs-5 {flex-basis: 41.66666667%}
.flex > .box-6, .flex > .box-xs-6, .flex-xs > .box-6, .flex-xs > .box-xs-6 {flex-basis: 50%}
.flex > .box-7, .flex > .box-xs-7, .flex-xs > .box-7, .flex-xs > .box-xs-7 {flex-basis: 58.33333333%}
.flex > .box-8, .flex > .box-xs-8, .flex-xs > .box-8, .flex-xs > .box-xs-8 {flex-basis: 66.66666667%}
.flex > .box-9, .flex > .box-xs-9, .flex-xs > .box-9, .flex-xs > .box-xs-9 {flex-basis: 75%}
.flex > .box-10, .flex > .box-xs-10, .flex-xs > .box-10, .flex-xs > .box-xs-10 {flex-basis: 83.33333333%}
.flex > .box-11, .flex > .box-xs-11, .flex-xs > .box-11, .flex-xs > .box-xs-11 {flex-basis: 91.66666667%}
.flex > .box-12, .flex > .box-xs-12, .flex-xs > .box-12, .flex-xs > .box-xs-12 {flex-basis: 100%}

@media (min-width: 34rem){
	.flex-s {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.flex > .box-s-0, .flex-xs > .box-s-0, .flex-s > .box-s-0, .flex-s > .box-0 {flex-basis: 0%}
	.flex > .box-s-1, .flex-xs > .box-s-1, .flex-s > .box-s-1, .flex-s > .box-1 {flex-basis: 8.33333333%}
	.flex > .box-s-2, .flex-xs > .box-s-2, .flex-s > .box-s-2, .flex-s > .box-2 {flex-basis: 16.66666667%}
	.flex > .box-s-3, .flex-xs > .box-s-3, .flex-s > .box-s-3, .flex-s > .box-3 {flex-basis: 25%}
	.flex > .box-s-4, .flex-xs > .box-s-4, .flex-s > .box-s-4, .flex-s > .box-4 {flex-basis: 33.33333333%}
	.flex > .box-s-5, .flex-xs > .box-s-5, .flex-s > .box-s-5, .flex-s > .box-5 {flex-basis: 41.66666667%}
	.flex > .box-s-6, .flex-xs > .box-s-6, .flex-s > .box-s-6, .flex-s > .box-6 {flex-basis: 50%}
	.flex > .box-s-7, .flex-xs > .box-s-7, .flex-s > .box-s-7, .flex-s > .box-7 {flex-basis: 58.33333333%}
	.flex > .box-s-8, .flex-xs > .box-s-8, .flex-s > .box-s-8, .flex-s > .box-8 {flex-basis: 66.66666667%}
	.flex > .box-s-9, .flex-xs > .box-s-9, .flex-s > .box-s-9, .flex-s > .box-9 {flex-basis: 75%}
	.flex > .box-s-10, .flex-xs > .box-s-10, .flex-s > .box-s-10, .flex-s > .box-10 {flex-basis: 83.33333333%}
	.flex > .box-s-11, .flex-xs > .box-s-11, .flex-s > .box-s-11, .flex-s > .box-11 {flex-basis: 91.66666667%}
	.flex > .box-s-12, .flex-xs > .box-s-12, .flex-s > .box-s-12, .flex-s > .box-12 {flex-basis: 100%}
}

@media (min-width: 46rem){
	.flex-m {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.flex > .box-m-0, .flex-xs > .box-m-0, .flex-s > .box-m-0, .flex-m > .box-m-0, .flex-m > .box-0 {flex-basis: 0%}
	.flex > .box-m-1, .flex-xs > .box-m-1, .flex-s > .box-m-1, .flex-m > .box-m-1, .flex-m > .box-1 {flex-basis: 8.33333333%}
	.flex > .box-m-2, .flex-xs > .box-m-2, .flex-s > .box-m-2, .flex-m > .box-m-2, .flex-m > .box-2 {flex-basis: 16.66666667%}
	.flex > .box-m-3, .flex-xs > .box-m-3, .flex-s > .box-m-3, .flex-m > .box-m-3, .flex-m > .box-3 {flex-basis: 25%}
	.flex > .box-m-4, .flex-xs > .box-m-4, .flex-s > .box-m-4, .flex-m > .box-m-4, .flex-m > .box-4 {flex-basis: 33.33333333%}
	.flex > .box-m-5, .flex-xs > .box-m-5, .flex-s > .box-m-5, .flex-m > .box-m-5, .flex-m > .box-5 {flex-basis: 41.66666667%}
	.flex > .box-m-6, .flex-xs > .box-m-6, .flex-s > .box-m-6, .flex-m > .box-m-6, .flex-m > .box-6 {flex-basis: 50%}
	.flex > .box-m-7, .flex-xs > .box-m-7, .flex-s > .box-m-7, .flex-m > .box-m-7, .flex-m > .box-7 {flex-basis: 58.33333333%}
	.flex > .box-m-8, .flex-xs > .box-m-8, .flex-s > .box-m-8, .flex-m > .box-m-8, .flex-m > .box-8 {flex-basis: 66.66666667%}
	.flex > .box-m-9, .flex-xs > .box-m-9, .flex-s > .box-m-9, .flex-m > .box-m-9, .flex-m > .box-9 {flex-basis: 75%}
	.flex > .box-m-10, .flex-xs > .box-m-10, .flex-s > .box-m-10, .flex-m > .box-m-10, .flex-m > .box-10 {flex-basis: 83.33333333%}
	.flex > .box-m-11, .flex-xs > .box-m-11, .flex-s > .box-m-11, .flex-m > .box-m-11, .flex-m > .box-11 {flex-basis: 91.66666667%}
	.flex > .box-m-12, .flex-xs > .box-m-12, .flex-s > .box-m-12, .flex-m > .box-m-12, .flex-m > .box-12 {flex-basis: 100%}
}

@media (min-width: 60rem){
	.flex-l {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.flex > .box-l-0, .flex-xs > .box-l-0, .flex-s > .box-l-0, .flex-m > .box-l-0, .flex-l > .box-l-0, .flex-l > .box-0 {flex-basis: 0%}
	.flex > .box-l-1, .flex-xs > .box-l-1, .flex-s > .box-l-1, .flex-m > .box-l-1, .flex-l > .box-l-1, .flex-l > .box-1 {flex-basis: 8.33333333%}
	.flex > .box-l-2, .flex-xs > .box-l-2, .flex-s > .box-l-2, .flex-m > .box-l-2, .flex-l > .box-l-2, .flex-l > .box-2 {flex-basis: 16.66666667%}
	.flex > .box-l-3, .flex-xs > .box-l-3, .flex-s > .box-l-3, .flex-m > .box-l-3, .flex-l > .box-l-3, .flex-l > .box-3 {flex-basis: 25%}
	.flex > .box-l-4, .flex-xs > .box-l-4, .flex-s > .box-l-4, .flex-m > .box-l-4, .flex-l > .box-l-4, .flex-l > .box-4 {flex-basis: 33.33333333%}
	.flex > .box-l-5, .flex-xs > .box-l-5, .flex-s > .box-l-5, .flex-m > .box-l-5, .flex-l > .box-l-5, .flex-l > .box-5 {flex-basis: 41.66666667%}
	.flex > .box-l-6, .flex-xs > .box-l-6, .flex-s > .box-l-6, .flex-m > .box-l-6, .flex-l > .box-l-6, .flex-l > .box-6 {flex-basis: 50%}
	.flex > .box-l-7, .flex-xs > .box-l-7, .flex-s > .box-l-7, .flex-m > .box-l-7, .flex-l > .box-l-7, .flex-l > .box-7 {flex-basis: 58.33333333%}
	.flex > .box-l-8, .flex-xs > .box-l-8, .flex-s > .box-l-8, .flex-m > .box-l-8, .flex-l > .box-l-8, .flex-l > .box-8 {flex-basis: 66.66666667%}
	.flex > .box-l-9, .flex-xs > .box-l-9, .flex-s > .box-l-9, .flex-m > .box-l-9, .flex-l > .box-l-9, .flex-l > .box-9 {flex-basis: 75%}
	.flex > .box-l-10, .flex-xs > .box-l-10, .flex-s > .box-l-10, .flex-m > .box-l-10, .flex-l > .box-l-10, .flex-l > .box-10 {flex-basis: 83.33333333%}
	.flex > .box-l-11, .flex-xs > .box-l-11, .flex-s > .box-l-11, .flex-m > .box-l-11, .flex-l > .box-l-11, .flex-l > .box-11 {flex-basis: 91.66666667%}
	.flex > .box-l-12, .flex-xs > .box-l-12, .flex-s > .box-l-12, .flex-m > .box-l-12, .flex-l > .box-l-12, .flex-l > .box-12 {flex-basis: 100%}
}

@media (min-width: 90rem){
	.flex-xl {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.flex > .box-xl-0, .flex-xs > .box-xl-0, .flex-s > .box-xl-0, .flex-m > .box-xl-0, .flex-l > .box-xl-0, .flex-xl > .box-xl-0, .flex-xl > .box-0 {flex-basis: 0%}
	.flex > .box-xl-1, .flex-xs > .box-xl-1, .flex-s > .box-xl-1, .flex-m > .box-xl-1, .flex-l > .box-xl-1, .flex-xl > .box-xl-1, .flex-xl > .box-1 {flex-basis: 8.33333333%}
	.flex > .box-xl-2, .flex-xs > .box-xl-2, .flex-s > .box-xl-2, .flex-m > .box-xl-2, .flex-l > .box-xl-2, .flex-xl > .box-xl-2, .flex-xl > .box-2 {flex-basis: 16.66666667%}
	.flex > .box-xl-3, .flex-xs > .box-xl-3, .flex-s > .box-xl-3, .flex-m > .box-xl-3, .flex-l > .box-xl-3, .flex-xl > .box-xl-3, .flex-xl > .box-3 {flex-basis: 25%}
	.flex > .box-xl-4, .flex-xs > .box-xl-4, .flex-s > .box-xl-4, .flex-m > .box-xl-4, .flex-l > .box-xl-4, .flex-xl > .box-xl-4, .flex-xl > .box-4 {flex-basis: 33.33333333%}
	.flex > .box-xl-5, .flex-xs > .box-xl-5, .flex-s > .box-xl-5, .flex-m > .box-xl-5, .flex-l > .box-xl-5, .flex-xl > .box-xl-5, .flex-xl > .box-5 {flex-basis: 41.66666667%}
	.flex > .box-xl-6, .flex-xs > .box-xl-6, .flex-s > .box-xl-6, .flex-m > .box-xl-6, .flex-l > .box-xl-6, .flex-xl > .box-xl-6, .flex-xl > .box-6 {flex-basis: 50%}
	.flex > .box-xl-7, .flex-xs > .box-xl-7, .flex-s > .box-xl-7, .flex-m > .box-xl-7, .flex-l > .box-xl-7, .flex-xl > .box-xl-7, .flex-xl > .box-7 {flex-basis: 58.33333333%}
	.flex > .box-xl-8, .flex-xs > .box-xl-8, .flex-s > .box-xl-8, .flex-m > .box-xl-8, .flex-l > .box-xl-8, .flex-xl > .box-xl-8, .flex-xl > .box-8 {flex-basis: 66.66666667%}
	.flex > .box-xl-9, .flex-xs > .box-xl-9, .flex-s > .box-xl-9, .flex-m > .box-xl-9, .flex-l > .box-xl-9, .flex-xl > .box-xl-9, .flex-xl > .box-9 {flex-basis: 75%}
	.flex > .box-xl-10, .flex-xs > .box-xl-10, .flex-s > .box-xl-10, .flex-m > .box-xl-10, .flex-l > .box-xl-10, .flex-xl > .box-xl-10, .flex-xl > .box-10 {flex-basis: 83.33333333%}
	.flex > .box-xl-11, .flex-xs > .box-xl-11, .flex-s > .box-xl-11, .flex-m > .box-xl-11, .flex-l > .box-xl-11, .flex-xl > .box-xl-11, .flex-xl > .box-11 {flex-basis: 91.66666667%}
	.flex > .box-xl-12, .flex-xs > .box-xl-12, .flex-s > .box-xl-12, .flex-m > .box-xl-12, .flex-l > .box-xl-12, .flex-xl > .box-xl-12, .flex-xl > .box-12 {flex-basis: 100%}
}
